@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

html {
    background-color: black;
    color: rgba(171, 35, 255, 0.742);
    height: 100%;
    border: 3px solid rgba(171, 35, 255, 0.742);
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgba(171, 35, 255, 0.742);
    font-family: "lucida console", monospace;
    animation: fadeIn 2s, ease-in-out;
    
}

h1.top {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;

}

h1.Introduction-title {
    align-items: left;
    display: flex;
    margin-left: 20px;
}

div.image-1 {
    display: flex;
    justify-content: left;
    margin: 20px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 20px
}

img.image-1 {
    width: 140px;
    height: 140px;
    border: 3px solid rgba(171, 35, 255, 0.742);
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgba(171, 35, 255, 0.742);
    margin-right: 20px;
}

p.text {
    margin: 20px;
    text-align: left;
    font-size: 20px;
}

div.text {
    display: block;
    align-items: left;
    justify-content: left;
    text-align: left;
    font-size: 20px;
    border: 3px solid rgba(171, 35, 255, 0.742);
    box-shadow: 0px 0px 2px 2px rgba(171, 35, 255, 0.742);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}

ul.image-1 {
    display: flex;
    text-align: left;
}


ul.list {
    padding-top: 0px;
}
div.list-title-container {
    display: block;
    text-align: left;
    padding-top: 0px;
}

p.list-title {
    font-size: 20px;
    margin-top: 20px;
    padding-left: 20px;
}

div.list-title-container {
    display: block;
    text-align: left;

}

button.button {
    background-color: black;
    color: rgba(171, 35, 255, 0.742);
    border: 3px solid rgba(171, 35, 255, 0.742);
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgba(171, 35, 255, 0.742);
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    font-family: "lucida console", monospace;
}

div.grid-item1 {
    align-items: left;
    justify-content: left;
    text-align: left;
    font-size: 20px;
    border: 3px solid rgba(171, 35, 255, 0.742);
    box-shadow: 0px 0px 2px 2px rgba(171, 35, 255, 0.742);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin: 20px;
}

div.grid-item2 {
    align-items: left;
    justify-content: left;
    text-align: left;
    font-size: 20px;
    border: 3px solid rgba(171, 35, 255, 0.742);
    box-shadow: 0px 0px 2px 2px rgba(171, 35, 255, 0.742);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.grid-item3 {
    align-items: left;
    justify-content: left;
    text-align: left;
    font-size: 20px;
    border: 3px solid rgba(171, 35, 255, 0.742);
    box-shadow: 0px 0px 2px 2px rgba(171, 35, 255, 0.742);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 10px
}

a {
    color: rgba(171, 35, 255, 0.742);
    text-decoration: none;
}

span.ScrollingASCII {
    font-size: 40px;
}

div.grid-item4 {
    align-items: left;
    justify-content: left;
    text-align: left;
    font-size: 20px;
    border: 3px solid rgba(171, 35, 255, 0.742);
    box-shadow: 0px 0px 2px 2px rgba(171, 35, 255, 0.742);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin: 20px;
    margin-right: 20px;
    margin-top: 0px;
    
}
